{% extends 'base.html' %}

{% block headersection %}

<section class="header-container">
<h1>Hey Visitor! I'm Nitish Rai</h1>

  <div class="content-text">
    <h2>Flask Developer & Learner</h2>
<p>
  Skilled in Python, Flask, HTML, CSS, and JavaScript.<br>I build web apps and love learning new tech!
</p>

  </div>
  <a href="#footer" class="btn btn-secondary">Connect With Me</a>
</section>
{% endblock %}

{% block body %}
<section id="projects" class="project-container container">
  <div class="division"></div>

  <div class="content-text">
    <h2>Special Skills</h2>
    <div class="container">
      <table style="text-align: center;">
        <tr>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-cogs"></i></h2>
             <h4>Python & Flask</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-bug"></i></h2>
              <h4>Frontend (HTML, CSS, JS)</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-code"></i></h2>
              <h4>Git & GitHub</h4> 
                       </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-server"></i></h2>
              <h4>SQL & Database Handling</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-cloud"></i></h2>
              <h4>Problem Solving</h4>
            </div>
          </td>
          <td  style="padding: 20px;">
            <div class="textcard"  style="padding: 20px;">
              <h2><i class="fab fa-linux"></i></h2>
              <h4>Communication</h4>
            </div>
          </td>
        </tr>
      </table>
    </div>    
  </div>
</section>


<!-- Projects -->
<section id="projects" class="project-container container">
  <div class="division"></div>

  <div class="content-text">
    <h2>Popular Project</h2>
    <p>Check out some of my projects</p>
  </div>

  <div class="container">
    <div class="textcard">
      <table>
        <tr>
          <td>
            <div class="container">
              <h3>Student Dashboard</h3>
              <p style="text-align: justify;">
                A web-based student dashboard built with Flask, HTML, CSS, and SQLite.
              </p>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</section>
{% endblock %}